@use "./color" as color;

@mixin primaryButtonBorder($colorName) {
  $colorEnum: map-get(color.$colors, $colorName);
    border: 1px solid map-get($colorEnum, border);
    color: map-get($colorEnum, text);
}
