/* color.scss */
$colors: (
  primaryBlue: (
    border: #14B0F3, // Couleur associée à la bordure
    text:   #91E5FF  // Couleur associée au texte (ou autre)
  )
);

@function get-color($name, $role) {
  $colorEnum: map-get($colors, $name);
  @if $colorEnum {
    @return map-get($colorEnum, $role);
  } @else {
    @warn "La couleur `#{$name}` n'existe pas.";
    @return null;
  }
}
